<div class="card-body text-center bg-success">
  <div class="d-flex text-left">
    <%= cl_image_tag(offer.pet.picture.key,
      width: 40, height: 40, crop: :thumb, gravity: :face, class: "pet-thumb") %>
  </div>
  <h5 class="card-title">Special title treatment</h5>
  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  <a href="#" class="btn btn-primary">Go somewhere</a>
</div>
</div>
