<div class="p-3">
  <div class="d-flex">
    <%= cl_image_tag offer.pet.picture.key,
      width: 60, height: 60, crop: :thumb, gravity: :face %>
    <h6>Offer for <%= offer.pet.name %></h6>
  </div>
  <p>from <%= offer.start_date %>to <%= offer.end_date %>.</p>
</div>
