<div class="m-2 p-3 bg-white">
  <p>Request by: <%= request.user.first_name %> <%= request.user.last_name %></p>
  <p>Message: <%= request.message %></p>
  <div class="btn btn-primary">
    <% if request.user == current_user %>
      delete
    <% else %>
      accept
    <% end %>
  </div>
</div>
