<h1>Pets#show</h1>
<%= cl_image_tag @pet.picture.key,
      width: 150, height: 150, crop: :thumb, gravity: :face %>
<h2>
  <%= @pet.name %></h2>
<p><%= @pet.description %></p>
<p><%= @pet.location %></p>
