<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url("banner.jpg") %>);">
  <div class="container">
    <h1 class="text-white" >Petsitas</h1>
    <p class="text-white">rent a rat</p>
  </div>
</div>
<div class="container mt-4">
  <div></div>
  <form action="/offers" method="get" class="form-group">
    <input type="text" name="species" placeholder="what species?" class="form-control" >
    <input type="text" name="location" placeholder="city?" class="form-control">
    <input type="date" name="start_date" placeholder="start date?" class="form-control">
    <input type="date" name="end_date" placeholder="end date?" class="form-control">
    <input type="submit">
  </form>
</div>