<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url("banner.jpg") %>);">
  <div class="container">
    <div class="container mt-4">
    <h1 class="text-white" >Petsitas</h1>
    <p class="text-white">The number one place for pet-sitting</p>

    
    
     <%= render "components/form", location: params[:location], species: params[:species] %>
      <p style="font-size: 16px">Going on vacation? Got a pet? Create account <%= link_to "here.", new_user_registration_path %> </p>
    </div>
  </div>
</div>
